__pycache__/
*.pyc
face-env/
identified_faces/
top30_face_crops/
top31_60_face_crops/
clusters_61_100_face_crops/
images/
temp_uploads/
encodings.npy
encoding_meta.pkl
identified_faces/
images/

service-account.json
